ffpb==0.4.1
jupyter==1.0.0
jupyter-client==7.3.0
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
matplotlib==3.5.3
networkx==2.5
numba==0.51.2
numpy==1.21.6
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-ml-py==11.495.46
pandas==1.3.5
pandas-datareader==0.10.0
python-dotenv==0.21.1
pyyaml==6.0.1
scikit-learn==1.0.2
scikit-network==0.20.0
scipy==1.7.3
termcolor==2.3.0
torch==1.13.1
tqdm==4.66.5